<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formation</title>
    <link rel="stylesheet" href="../css/css.css">
</head>
<body>
    <nav>
        <div class="photoprofil">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6UhSehupBRCr51zMD8RCb2MX63mEUSXf1FQ&s" alt="Photo de Profil">
        </div>
        <ul>
            <li><a href="presentation.html">Présentation</a></li>
            <li><a href="formation.html">Formation</a></li>
            <li><a href="projet.html">Projet</a></li>
            <li><a href="competences.html">Compétences</a></li>
            <li><a href="passions.html">Passions</a></li>
            <li><a href="ambitions.html">Ambitions</a></li>
        </ul>
    </nav>
    <div class="formationdiv">
        <div class="formation">
            <h1>Ma formation</h1>
            <ul>
                <li>
                    <div class="saintemariediv">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNFarTyYzlUBPef5RhAY2qm1pcGUhM9arJ8A&s" alt="Institution Sainte Marie Antony">
                        <h2>Baccalauréat général</h2>
                        <p>Spécialités</p>
                        <ul>
                            <li>Mathématiques</li>
                            <li>Numérique et Sciences Informatiques</li>
                            <li>Sciences de l'Ingénieur</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="iutvelizydiv">
                        <img src="https://static.iquesta.com/logo/common/schools/487.png" alt="IUT de Vélizy-Villacoublay">
                        <h2>BUT Informatique</h2>
                        <p>Parcours : réalisation d'applications</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="footer">
            © Site développé par Luca Da Silva
        </div>
    </footer>
</body>
</html>