<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Passions</title>
  <link rel="stylesheet" href="../css/css.css">
</head>
<body>
    <nav>
        <div class="photoprofil">
            <a href="accueil.html"><img src="../photos/lucadasilva.png" alt="Photo de Profil"></a>
        </div>
        <ul>
            <li><a href="presentation.html">Présentation</a></li>
            <li><a href="formation.html">Formation</a></li>
            <li><a href="projet.html">Projet</a></li>
            <li><a href="competences.html">Compétences</a></li>
            <li><a href="passions.html">Passions</a></li>
            <li><a href="ambitions.html">Ambitions</a></li>
        </ul>
    </nav>
    <div class="passionsdiv">
        <div class="passions">
          <h1>Mes Passions</h1>
            <div class="subpassion">
                <div class="passion-item">
                    <img src="../photos/joue_guitare.jpeg" alt="Moi jouant de la guitare">
                    <h2>Musique (guitare depuis 7 ans)</h2>
                </div>
                <div class="passion-item">
                    <img src="../photos/football.jpeg" alt="Moi jouant au football">
                    <h2>Sport (football)</h2>
                </div>
                <div class="passion-item">
                    <img src="../photos/jeuxvideos.jpeg" alt="Jeux Vidéo">
                    <h2>Jeux Vidéo</h2>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            © Site développé par Luca Da Silva
        </div>
    </footer>
</body>
</html>