<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Passions</title>
  <link rel="stylesheet" href="../css/css.css">
</head>
<body>
    <nav>
        <div class="photoprofil">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6UhSehupBRCr51zMD8RCb2MX63mEUSXf1FQ&s" alt="Photo de Profil">
        </div>
        <ul>
            <li><a href="presentation.html">Présentation</a></li>
            <li><a href="formation.html">Formation</a></li>
            <li><a href="projet.html">Projet</a></li>
            <li><a href="competences.html">Compétences</a></li>
            <li><a href="passions.html">Passions</a></li>
            <li><a href="ambitions.html">Ambitions</a></li>
        </ul>
    </nav>
    <div class="passionsdiv">
        <div class="passions">
          <h1>Mes Passions</h1>
          <div class="jeuxvideos">
              <img src="" alt="">
              <h2>Jeux Vidéo</h2>
          </div>
          <div class="musique">
              <img src="" alt="">
              <h2>Musique (guitare depuis 7 ans)</h2>
          </div>
          <div class="sport">
              <img src="" alt="">
              <h2>Sport (football)</h2>
          </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            © Site développé par Luca Da Silva
        </div>
    </footer>
</body>
</html>