<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Présentation</title>
    <link rel="stylesheet" href="../css/css.css">
</head>
<body>
<nav>
    <div class="photoprofil">
        <a href="accueil.html"><img src="../photos/lucadasilva.png" alt="Photo de Profil"></a>
    </div>
    <ul>
        <li><a href="presentation.html">Présentation</a></li>
        <li><a href="formation.html">Formation</a></li>
        <li><a href="projet.html">Projet</a></li>
        <li><a href="competences.html">Compétences</a></li>
        <li><a href="passions.html">Passions</a></li>
        <li><a href="ambitions.html">Ambitions</a></li>
    </ul>
</nav>
<div class="presentation">
    <div class="photopresentation">
        <img src="../photos/lucadasilva.png" alt="Photo de Profil">
    </div>
    <div>
        <h1>Luca Da Silva</h1>
        <ul>
            <li>Né le 03 août 2005 (19 ans)</li>
            <li>
                Adresses :
                <ul>
                    <li>1 sentier des myrtilles</li>
                    <li>11 rue de la chandeleur</li>
                </ul>
            </li>
            <li>Numéro de téléphone : 07 69 00 00 00</li>
            <li>Mail : lukds.dasilva@gmail.com</li>
            <li>Github : <a href="https://github.com/lucadsv">voir mon github</a></li>
        </ul>
    </div>
    <div class="datepresentation">
        <p>Date : 05 mars 2025</p>
    </div>
</div>
<footer>
    <div class="footer">
        © Site développé par Luca Da Silva
    </div>
</footer>
</body>
</html>